.websiteLogo{
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0;
    margin-top: 24px;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    transition: 0.4s;
}

.websiteLogo:hover{
    transition: 0.4s;
    color: lightblue;
    cursor: pointer;
}

.navBar {
    background-color: black;
}

.navBarList{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 3vw;
    overflow: hidden;
}

li{
    float: right;
    padding: 10px;
    display: inline-block;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.4s;
}

li a:hover{
    color: #ffc300;
    transition: 0.4s;
    cursor: pointer;
}