.about-section {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.about-container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.about-content {
    display: flex;
    gap: 10rem;
    margin-top: 10vh;
}

.about-heading {
    font-family: "Poppins", sans-serif;
    color: #19191b;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    border-bottom:  #333 0.2rem solid;
    width: fit-content;
    margin: 0rem auto 2.5rem;
}

.education-entry {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.osu_img {
    height: auto;
    width: 60px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.biography-entry {

}

@media screen and (max-width: 1020px) {
    .about-section {
        height: auto;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0;
        padding-top: 20rem;
    }

}