//Default Styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5% /* makes 1rem 10px */
}
body {
    font-size: 1.6em; /* default font of 16px */
    font-family: 'Nunito', sans-serif;
    line-height: 1.3;
    color: #373737;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}