.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.home-container {
    margin: 0 auto 12rem auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.dev-picture {
    border-radius: 9rem;
    height: auto;
    width: 430px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.h1-hero-heading {
    color: #19191b;
    font-size: 8rem;
    font-weight: 700;
    padding-bottom: 1.7rem;
    font-family: 'Poppins', sans-serif;
}

.hero-content {
    margin-top: 30rem;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}

.p-hero-text {
    font-size: 1.28em;

}

.contacts {
    margin-top: 2rem;
}

.linkedin {
    fill: #0077b5;
    font-size: 3rem;
    transition: ease-out 0.1s;
}

.linkedin:hover {
    cursor: pointer;
    transform: translateY(-0.35rem);
    transition: ease-in 0.1s;
}

.github {
    fill: #333;
    font-size: 3rem;
    transition: ease-out 0.1s;
}

.github:hover {
    cursor: pointer;
    transform: translateY(-0.35rem);
    transition: ease-in 0.1s;
}

.contact-svg {
    padding-right: 1.5rem;
}

.tech-stack {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 10rem;
}

.tech-stack-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    border-right: #19191b 0.3rem solid;
    padding-right: 1.5rem;
}

.tech-stack-list {
    display: flex;
    gap: 2rem;
}

.tech-stack-item {
    height: auto;
    width: 40px;
    transition: ease-out 0.3s;
}

.tech-stack-item:hover {
    cursor: pointer;
    transition: ease-in 0.3s;
}

@media screen and (max-width: 1020px) {
    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        gap: 3.5rem;
        margin-top: 15rem;
    }

    .hero-text {
        align-items: center;
    }

    .dev-picture {
        width: 430px;
    }

    .h1-hero-heading {
        text-align: center;
        font-size: 6rem;
    }

    .p-hero-text {
        text-align: center;
        font-size: 1.8rem;
    }

    .contact-svg {
        font-size: 3rem;
    }

    .tech-stack {
        text-align: center;
        flex-direction: column;
        gap: 3rem;
        margin-top: 8.5rem;
    }

    .tech-stack-name {
        font-size: 2.4rem;
        padding-right: 0;
        border-bottom: #19191b 0.3rem solid;
        border-right: none;
    }

    .tech-stack-item {
        width: 36px;
    }
}

@media screen and (max-width: 525px) {

    .home-container {
        margin-bottom: 8rem;
    }

    .hero-content {
        margin-top: 13rem;
    }

    .dev-picture {
        width: 280px;
    }

    .h1-hero-heading {
        font-size: 4.6rem;
    }

    .p-hero-text {
        font-size: 1.8rem;
    }

    .contact-svg {
        font-size: 2.6rem;
    }

    .tech-stack-item {
        width: 26px;
    }

    .tech-stack {
        margin-top: 5rem;
    }

}

@media screen and (max-width: 380px) {

    .hero-content {
        margin-top: 12.75rem;
        gap: 2.5rem;
    }

    .dev-picture {
        width: 240px;
    }

    .h1-hero-heading {
        font-size: 3.9rem;
        padding-bottom: 1.5rem;
    }

    .p-hero-text {
        font-size: 1.6rem;
    }

    .contact-svg {
        font-size: 2.4rem;
    }

    .tech-stack {
        gap: 2.2rem;
    }

    .tech-stack-name {
        font-size: 1.8rem;
    }

    .tech-stack-item {
        width: 22px;
    }

}