.nav {
    position: fixed;
    width: 100vw;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 2.75rem;
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.nav-logo-header {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    transition: .15s ease-out;
    letter-spacing: 0.75rem;
}

.nav-logo-header:hover {
    color: #f7df1e;
    cursor: pointer;
    transition: .15s ease-in;
    transform: translateY(-0.25rem);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.8rem;
}

.nav-menu-item {
    color: #fff;
    transition: .15s ease-out;
}

.nav-menu-item:hover {
    color: #f7df1e;
    transition: .15s ease-in;
    cursor: pointer;
    transform: translateY(-0.15rem);
}