.project-title.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.project-title.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.project-transition.hidden.left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-200px);
    transition: all 1s;
}

.project-transition.show.left {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

.project-transition.hidden.right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(200px);
    transition: all 1s;
}

.project-transition.show.right {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

.projects-section {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.heading-container {
    margin: 15rem auto 15rem auto;
    padding: 0 4rem;
    width: 107rem;
}

.project-title {
    width: fit-content;
    color: #19191b;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    border-left:  #0073CF 0.3rem solid;
    padding-left: 1rem;
    margin-bottom: 6rem;
}

.project-container {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    padding: 6rem 4rem 6rem 4rem;
    gap: 6rem;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .10);
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    gap: 10rem
}

.project-container:hover {
    cursor: pointer;
    border: 1px solid #0073CF;
}

.left {
    flex-direction: row-reverse;
}

.right {
    flex-direction: row;
}

.project-image {
    height: 260px;
    width: 480px;
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .20);
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 1rem;
}

.projlinks {
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.6rem;
    transition: ease-out 0.1s;
    font-family: "Open Sans", sans-serif;
    margin-top: 2rem;
}

.projlinks:hover {
    color: #0073CF;
    transition: ease-in 0.1s;
    transform: translateY(-0.1rem);

    .livedemo-link-svg {
        fill: #0073CF;
        transition: ease-in 0.1s;
    }

    .github-projects-contact-svg {
        fill: #0073CF;
        transition: ease-in 0.1s;
    }
}

.github-projects-contact-svg {
    fill: #333;
    font-size: 2.25rem;
    transition: ease-out 0.1s;
}

.livedemo-link-svg {
    fill: #333;
    height: auto;
    width: 2rem;
    transition: ease-out 0.1s;
}

.project-description-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30rem;
}

.name-of-project {
    font-family: 'Poppins', sans-serif;
    color: #19191b;
    font-size: 3rem;
    text-align: center;
}

.description-of-project {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.project-techstack {
    display: flex;
    margin: 3.8rem auto;
    gap: 3.5rem;
}

.framework {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .14);
}

.project-framework-icon {
    height: auto;
    width: 2.5rem;
}

@media screen and (max-width: 1020px) {

    .heading-container {
        width: fit-content;
    }

    .project-container {
        padding: 3.6rem 3.4rem;
        align-items: center;
        gap: 0;
        flex-direction: column-reverse;
    }

    .project-description-container {
        align-items: center;
    }

    .project-image {
        height: auto;
        width: 410px;
    }

    .project-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projlinks {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 700px) {

    .project-container {
        padding: 2.6rem 3.4rem;
    }

    .name-of-project {
        font-size: 2.4rem;
    }

    .description-of-project {
        font-size: 1.8rem;
    }

    .project-image {
        width: 380px;
    }

    .project-techstack {
        margin: 3.2rem;
    }

    .framework {
        font-size: 1.4rem;
    }

    .framework-icon {
        width: 1.8rem;
    }

    .projlinks {
        font-size: 1.6rem;
    }

    .link-svg {
        width: 1.8rem;
    }

}

@media screen and (max-width: 525px) {

    .heading-container {
        padding-right: 0;
        padding-left: 0;
        margin-top: 8rem;
        margin-bottom: 10rem;
    }

    .project-container {
        padding: 2.4rem 3rem;
    }

    .project-card-container {
        gap: 5rem;
    }

    .project-title {
        font-size: 2.4rem;
        margin-bottom: 4rem;
    }

    .name-of-project {
        font-size: 2.2rem;
    }

    .description-of-project {
        font-size: 1.5rem;
    }

    .project-image {
        width: 300px;
    }

    .framework {
        font-size: 1.4rem;
    }

    .framework-icon {
        width: 1.8rem;
    }

    .projlinks {
        font-size: 1.5rem;
    }

    .link-svg {
        width: 1.8rem;
    }

}

@media screen and (max-width: 440px) {

    .project-container {
        padding: 2.5rem 1.2rem;
    }

    .name-of-project {
        font-size: 2.2rem;
    }

    .description-of-project {
        font-size: 1.55rem;
    }

    .project-image {
        width: 260px;
    }

    .project-techstack {
        margin: 3rem;
    }

    .framework {
        font-size: 1.3rem;
    }

    .framework-icon {
        width: 1.4rem;
    }

    .projlinks {
        font-size: 1.5rem;
    }

    .link-svg {
        width: 1.4rem;
    }

}

@media screen and (max-width: 380px) {

    .heading-container {
        padding: 0;
    }

    .project-container {
        padding: 2rem 1rem;
        width: 25.5rem;
    }

    .name-of-project {
        font-size: 1.9rem;
    }

    .project-description-container {
        width: fit-content;
    }

    .description-of-project {
        width: 20rem;
        font-size: 1.2rem;
    }

    .project-image {
        width: 200px;
    }

    .project-techstack {
        margin: 2.4rem;
    }

    .framework {
        padding: 0.8rem;
        font-size: 0.94rem;
    }

    .framework-icon {
        width: 1.4rem;
    }

    .projlinks {
        font-size: 1rem;
    }

    .link-svg {
        width: 1.4rem;
    }

    .project-links {
        margin-top: 0;
    }

}
